@import "_cadcampo.scss";
@import "../_components.scss";


.mx_MatrixChat {
    max-width: 1300px;
    margin: 0 auto;
    border-right-style: solid;
    border-left-style: solid;
    border-left-color: #ddd;
    border-right-color: #ddd;
}

.mx_RoomSettings_powerLevels {
    display: none;
}

.mx_EventTile_line {
    line-height: 18px;
}

.mx_SearchBox_search {
    background: white !important;
    border: 2px solid #ddd !important;
    margin-left: -33px;
    padding-left: 33px;
}

.mx_SearchBox_searchButton {
    z-index: 100;
    margin-left: 10px;
    margin-top: 7px;
}

.mx_RoomSubList_labelContainer {
    display: none;
}

.mx_RoomDropTarget {
    display: none;
}

.mx_BottomLeftMenu_directory {
    display: none !important;
}

.mx_EventTile_avatar {
    display: none;
}

/* hide settings */
.mx_UserSettings_section.mx_DevicesPanel {
    display: none;
}
.mx_UserSettings_section.mx_UserSettings_cryptoSection {
    display: none;
}
.mx_UserSettings_advanced {
    display: none;
}

